
/*HERO*/

header {
    width: 100%;
    height: 500px;
}
.main-hero {
    background-image: url(https://media.discordapp.net/attachments/1024283347222020096/1027956884877099068/coming-soon-wide.png);
    background-repeat: no-repeat;
    background-size: 100%;
}